<h2> Edit Room </h2>

<form action="/rooms/<%= roomInfo._id %>" method="post" enctype="multipart/form-data">
  <label for="room-name-input"> Room Name </label>
  <br>
  <input id="room-name-input" type="text" name="roomName" placeholder="Room Name" value="<%= roomInfo.name %>">
  <br>

  <p> Current Photo </p>
  <img src="<%= roomInfo.photoUrl %>" alt="">
  <br>

  <label for="photo-input">Upload a Photo</label>
  <br>
  <input id="photo-input" type="file" name="roomPhoto" placeholder="...photo.jpg" value="<%= roomInfo.photoUrl %>">
  <br>

  <label for="desc-input"> Description</label>
  <br>
  <textarea id="desc-input"type="text" name="roomDescription" placeholder="Beautiful room with..."><%= roomInfo.desc %></textarea>
  <br>
  <br>
  <button> Save Room </button>
</form>
